/* Estilo Global */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Estilo do Cabeçalho */
h1 {
    text-align: center;
    color: rgb(89, 52, 147);
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

p {
    font-size: 15px;
    color: #7b7698;
    font-family: 'Helvetica Neue', sans-serif;
    margin-right: 30px;
}

/* Estilo do Formulário */
fieldset {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    
}

legend {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo do Formulário Principal */
form {
    margin-top: 45em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Estilo dos Campos de Entrada */
.campo {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 12px 18px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #5c9ded;
    outline: none;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Estilo dos Botões */
input[type="submit"],
input[type="reset"],
button {
    background-color: rgb(89, 52, 147);
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: rgb(140, 94, 215);
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: #f0f0f0;
}

/* Estilo de Rodapé */
footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #777;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    fieldset {
        width: 100%;
        padding: 25px;
    }

    h1 {
        font-size: 24px;
    }

    form {
        width: 100%;
    }
}
